<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="container">
            <span class="navbar-brand">Sistema de Gestión de Tareas</span>
            <ul class="nav-links">
                <ng-container *ngIf="!usersService.loggedIn(); else loggedIn")>
                    <li><a routerLink="/login">Iniciar Sesión</a></li>
                    <li><a routerLink="/register">Registrarse</a></li>
                </ng-container>
                <ng-template #loggedIn>
                    <li><a routerLink="/dashboard">Ir al Dashboard</a></li>
                    <li><a routerLink="/login" (click)="usersService.logoutUser()">Cerrar sesión</a></li>
                </ng-template>
            </ul>
        </div>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>Producto Integrador: Tendencias en diseño de servicios</p>
            <p>Proyecto: Sistema de Gestión de Tareas</p>
            <p>Autor: Alan Gustavo Estrada Gramajo</p>
            <p>Universidad de Guadalajara (SUV)</p>
        </div>
    </footer>
</body>
